@model UsuarioModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>@HttpContextAccessor.HttpContext.Session?.GetString("_Nome")</p>
</div>